footer {
    background-color: black;
    width: 100%;
    padding: 0.8em 2em;
    box-sizing: border-box;

    display: flex;
    justify-content: space-between;
    align-items: center;

    color: #ffffff;
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);*/
    backdrop-filter: blur(0px);
    

    margin-top: auto; /* permite o empurrão para o fim se usar layout flex */
}

.rodape__icones {
    display: flex;
    gap: 16px;
}

.rodape__icones img {
    width: 22px;
    height: 22px;
    transition: opacity 0.3s ease;
}

.rodape__icones img:hover {
    opacity: 0.8;
    cursor: pointer;
}

.rodape__texto {
    font-size: 1.1rem;
    white-space: nowrap;
}
