.main-content-gantt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    min-height: 500px; /* Aumenta a altura mínima */
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    padding: 1.5rem;
} 

.modo {
    font-size: 1.1rem;
    font-weight: bold;
    color: #444;
}

.chart-wrapper {
    width: 100%;
    height: 100%; 
    max-width: 1200px;
    /* margin: auto; */
}

#ganttChart {
    width: 100% !important;
    height: 100% !important;
}

#ganttContainer {
    position: relative;
    padding-bottom: 50px; 
}

.button-container {
  position: absolute; /* posiciona no canto do ganttContainer */
  bottom: 5px;
  right: 5px;
  display: flex;      /* coloca os botões lado a lado */
  gap: 10px;          /* espaço entre os botões */
  align-items: center;
  z-index: 10;
}

.fullscreen-button,
.mode-button {
  position: static !important; /* garante que não fiquem absolutos */
  padding: 5px 15px;
  margin: 0;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  color: #E6007E;
  background-color: #ffffff;
  border: 1px solid #E6007E;
  border-radius: 4px;
  transition: ease-in 0.2s;
}

.fullscreen-button:hover,
.mode-button:hover {
  background-color: #E6007E;
  color: #fff;
  border: 1px solid #ffffff;
}

#ganttContainer:fullscreen {
    width: 100vw;
    height: 100vh;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#ganttContainer:-webkit-full-screen {
    width: 100vw;
    height: 100vh;
}

#ganttContainer:-moz-full-screen {
    width: 100vw;
    height: 100vh;
}