/* ==========================
   Sidebar
========================== */
.sidebar {
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    width: 250px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

.sidebar .logo {
    color: #e6007e;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 40px;
    width: 5em;
    height: auto;
}

.sidebar-links {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sidebar-links a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    padding: 12px 16px;
    text-align: start;
    transition: all 0.3s;
}

.sidebar-links a:hover {
    color: #fff;
    background-color: #e6007e;
    transform: translateX(5px);
}