.button {
  background-color: #e91e63; /* rosa pink */
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 6px;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.button:hover {
  opacity: 0.7;
}

.upload {
    grid-column: span 1 / span 1;
    grid-row: span 2 / span 2;
    grid-column-start: 4;
    justify-items: center;
    padding: 0 2em 2em 2em;
    margin: auto;
}

/* Dropbox */

.dropzone {
    border: 2px dashed #ccc;
    border-radius: 10px;
    width: 400px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #777;
}

.dropzone.hover {
    border-color: #333;
    color: #333;
}

.upload h2 {
    font-weight: bold;
    color: #f7f7f7;
    padding: 10px;
    margin: 1em;
    background-color: #e6007e;
    border-radius: 10px;
}

#uploadStatus {
    padding: 10px;
}

