body {
    margin: 0;
   background: #f8f8f8;
  }
  
  .dashboard {
    display: flex;
    height: 100vh;
  }
  
  .sidebar {
    background: #fff;
    padding: 20px;
    width: 17%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 1px solid #ddd;
  }
  
 .logo_nav {

    max-width: 70%;
    width: auto;
    margin: 10%;
 }
  .sidebar nav ul {
    list-style: none;
    padding: 0;
  }
  
  .sidebar nav ul li {
    margin: 20px 0;
    cursor: pointer;
    color: #333;
  }
  
  .sidebar nav ul .active {
    font-weight: bold;
    color: #d10050;
  }
  
  .help {
    background: #222;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
  }
  
  .help button {
    margin-top: 10px;
    background: #fff;
    color: #000;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
  }
  
  .main {
    flex: 1;
    padding: 20px;
  }
  
  .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .avatar {
    border-radius: 50%;
  }
  
  .status {
    display: flex;
    gap: 20px;
    margin-top: 20px;
  }
  
  .card {
    background: var(--color-background-black);
    color: #f8f8f8;
    padding: 20px;
    flex: 1;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
  }

  .chart {

    background-color: var(--color-background);
    color: #000;
  }
  
  .chart-placeholder {
    font-size: 2rem;
    text-align: center;
    padding: 20px 0;
  }
  
  .tasks {
    margin-top: 30px;
  }
  
  .task-cards {
    display: flex;
    gap: 20px;
    margin-top: 10px;
  }
  
  .task-card {
    background: #fff;
    border-radius: 10px;
    padding: 10px;
    width: 200px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
  }
  
  .right-panel {
    width: 280px;
    padding: 20px;
    background: #fff;
    border-left: 1px solid #ddd;
  }
  
  .calendar {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .today-task img {
    width: 100%;
    border-radius: 10px;
  }
  
  .today-task ul {
    padding-left: 20px;
  }
  
  .today-task button {
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    background: #d10050;
    color: #fff;
    border: none;
    border-radius: 5px;
  }
  